
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main Wrapper -->
<div class="main-wrapper">
	<div class="account-content">
		<div class="container">

			<!-- Account Logo -->
			<div class="account-logo">
				<a href="index.html"><img src="/light/assets/img/logo.png"></a>
			</div>
			<!-- /Account Logo -->

			<div class="account-box col-md-8">
				<div class="account-wrapper">
					<h3 class="account-title">Register</h3>
					<div class="form-group">
						<label>FirstName <span class="text-danger">*</span></label>
						<input class="form-control" id="firstName" required type="text">
					</div>
					<div class="form-group">
						<label>LastName <span class="text-danger">*</span></label>
						<input class="form-control" id="lastName" required type="text">
					</div>
						<div class="form-group">
							<label>Email <span class="text-danger">*</span></label>
							<input class="form-control" id="email" required type="text">
							@*<small id="emailvalid" style="color:red" class="form-text disabled" disabled>
								Email belong to another user
							</small>*@
						</div>
						<div class="form-group">
						<label>Password <span class="text-danger">*</span></label>
						<input class="form-control" id="password" required type="password">
						</div>
						<div class="form-group">
						<label>Confirm Password <span class="text-danger">*</span></label>
						<input class="form-control" id="confirmPassword" required type="password">
						</div>
						<div class="form-group text-center">
						<button class="btn btn-primary account-btn" onclick="registerUser()" type="submit">Register</button>
						</div>
						<div class="account-footer">
							<p>Already have an account? <a asp-action="Login" asp-controller="Account">Login</a></p>
						</div>
					<!-- /Account Form -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Main Wrapper -->
@*<script>
	 $(document).ready(function (){

		$("#email").change(function () {
			var email = $("#email").val();
			$.ajax({
				type: 'Post',
				url: '/Account/ValidateEmail',
				dataType: 'json',
				data:
				{
					email: email,
				},
				success: function (result) {
					debugger;
					if (result.isError) {
						$("#emailvalid").prop('disabled', false);
					}
					else {
						$("#emailvalid").prop('disabled', true);
					}
				},
				error: function (ex) {
					"Something went wrong, contact support - " + errorAlert(ex);
				}
			});
		});
	});
</script>*@
