@{
    ViewData["Title"] = "Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="error-page">
    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <div class="error-box">
            <h2><i class="fa fa-warning"></i>UNAUTHORIZED</h2>
            <div>
                <h4>
                     You Don’t Have Permission To Access This Page, Please Kindly Contact Support at
                </h4>
            </div>
            
            <div class="font-italic font-weight-bold text-center"><h4>hello@Bivisoft.com</h4></div>
            <a href="javascript:history.back()" class="btn btn-custom">Back to Home</a>
        </div>
    </div>
</body>