﻿@{
	Layout = ViewBag.Layout;
}
<style>

	body {
		counter-reset: Serial; /* / Set the Serial counter to 0 /*/
	}

	tr td:first-child:before {
		counter-increment: Serial; /* / Increment the Serial counter /*/
		content: counter(Serial); /*  / Display the counter /*/
	}
</style>
<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="chat-main-row">
		<div class="chat-main-wrapper">
			<div class="col-lg-12 message-view task-view task-left-sidebar">
				<div class="chat-window">
					<div class="fixed-header">
						<div class="navbar">
							<div class="float-left mr-auto">
								<div class="add-task-btn-wrapper">
									<span class="add-task-btn btn btn-white btn-md">
										Add Items
									</span>
								</div>
							</div>
							<div class="float-right ml-auto">
								<div class="add-task-btn-wrapper">
									<span id="saveAndSend" class="btn btn-white btn-lg">
										Save & Send
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="chat-contents">
						<div class="chat-content-wrap">
							<div class="chat-wrap-inner">
								<div class="chat-box">
									<div class="task-wrapper">
										<div class="task-list-container">

											<div class="task-list-body">
												<ul id="task-list">
													<li class="task">
														<div class="task-container">

															<div class="row">

																<div class="col-sm-4">
																	<div class="form-group">
																		<label class="col-form-label">Customer <span class="text-danger">*</span></label><span><a href="#" class="text-success float-right mt-2" data-toggle="modal" data-target="#add_salesCustomer">Add Customer</a></span>
																		
																		<select id="CustomerIdExistingUser" asp-items="@(new SelectList(ViewBag?.Customers  ,"Id", "FullName" ))" class="form-control"> </select>
																	</div>
																</div>

																<div class="col-sm-4">
																</div>
																<div class="col-sm-4 mt-5 text-center">
																	 <h3>Total: &#x20A6; <span id="totalAmountToPay"></span></h3>
																</div>
															</div>
														</div>
													</li>
												</ul>
											</div>
											<div class="task-list-body">
												<ul class="list-unstyled">
													<li class="task list-style-type-none"> 
													<table class="table table-striped custom-table mb-0 table-bordered task-container">
														<thead>
															<tr>
																<th>S/N</th>
																<th>Product</th>
																<th>Quantity</th>
																<th>Unit</th>
																<th>Selling Price</th>
																<th>Discount</th>
																<th>Amount</th>
																<th></th>
															</tr>
														</thead>

														<tbody id="addItem">
														</tbody>
													</table>
												</li>
												</ul>
											</div>


											<div class="task-list-footer">
												<div class="new-task-wrapper">
													<div class="task-list-body" >
														<ul id="task-list" >
															<li class="task" id="new-task"> 
																<div class="task-container">

																	<div class="row">

																		<div class="col-sm-2">
																			<div class="form-group">
																				<label class="col-form-label">Item Sold</label>
																				<select id="salesProduct" asp-items="@(new SelectList(ViewBag?.ShopProduct  ,"Id", "Name" ))" class="form-control"> </select>
																			</div>
																		</div>
																		<div class="col-sm-2">
																			<div class="form-group">
																				<label class="col-form-label">Quantity</label>
																				<input type="number" class="form-control" placeholder="N/A" id="quantity">
																				<span id="showQuantity" hidden>quantity left: <span id="qtyLeft" class="error-message"></span> </span>
																			</div>
																		</div>
																		<div class="col-sm-2">
																			<div class="form-group">
																				<label class="col-form-label">Unit</label>
																				<input type="text" class="form-control" placeholder="N/A" id="unit" readonly>
																			</div>
																		</div>
																		<div class="col-sm-2">
																			<div class="form-group">
																				<label class="col-form-label">Selling Price </label>
																				<input type="text" class="form-control" placeholder="N/A" id="unitPrice" readonly>
																			</div>
																		</div>
																		<div class="col-sm-2">
																			<div class="form-group">
																				<label class="col-form-label">Discount</label>
																				<input type="number" class="form-control" placeholder="N/A" id="discount">
																			</div>
																		</div>
																		<div class="col-sm-2">
																			<div class="form-group">
																				<label class="col-form-label">Amount</label>
																				<input type="number" class="form-control" placeholder="N/A" id="amountShop" readonly>
																			</div>
																		</div>
																		<input type="text" id="salesProductName" hidden>
																		<input type="text" id="salesProductId" hidden>
																		<input type="text" id="salesProductQty" hidden>
																	</div>
																</div>
															</li>
														</ul>
													</div>
													<span class="error-message" hidden>You need to enter a sale(s) first</span>
													<span class="add-new-task-btn btn" onclick="AppendField()">Add Item</span>
													<span class="btn" id="close-task-panel">Close</span>
												</div>
											</div>




										</div>									</div>
									<div class="notification-popup hide">
										<p>
											<span class="task"></span>
											<span class="notification-text"></span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Page Wrapper -->
<!-- Add Termination Modal -->
<div id="add_salesCustomer" class="modal custom-modal fade" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Customer</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>First Name<span class="text-danger">*</span></label>
					<input class="form-control" type="text" id="first_Name">
					<p class="text-danger" id="first_NameVDT" hidden></p>
				</div>
				<div class="form-group">
					<label>Last Name<span class="text-danger">*</span></label>
					<input class="form-control" type="text" id="last_Name">
					<p class="text-danger" id="last_NameVDT" hidden></p>
				</div>
				<div class="form-group">
					<label>Phone Number<span class="text-danger">*</span></label>
					<input class="form-control" type="Number" id="tel">
				</div>
				<div class="form-group">
					<label>Email<span class="text-success"> Optional</span></label>
					<input class="form-control" type="Email" id="email">
				</div>
				<div class="form-group">
					<label>Addess<span class="text-danger">*</span></label>
					<textarea class="form-control" rows="4" id="address"></textarea>
					<p class="text-danger" id="addressVDT" hidden></p>
				</div>
				<div class="submit-section">
					<button class="btn btn-primary submit-btn" onclick="addSalesCustomer('CREATE')">Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Add Termination Modal -->